html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
}

#eyes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 45%;
    width: inherit;
    padding-bottom: 1em;
}

#eyes>img {
    width: 4em;
}

#search>form {
    display: flex;
    justify-content: center;
    width: inherit;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1em;
    gap: 10%;
}

#search_input {
    width: 50%;
    height: 1.5em;

    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;

    border: solid 2px #41403E;
    transition: all 1s 0s ease-in-out;
}


#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: inherit;
    gap: 10%;
}

#controls>button {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: none;
    background-color: transparent;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 100ms ease-in-out;
}

#controls>button:hover {
    background-size: 48px 48px;
    cursor: pointer;
}

#controls>button:active {
    background-size: 40px 40px;
}


#controls>#confirm {
    background-image: url("../images/box.png");
}

#controls>#search_control {
    background-image: url("../images/search.png");
}

#controls>#add {
    background-image: url("../images/add.png");
}

#controls>#home {
    background-image: url("../images/home.png");
}